@{
    ViewBag.Title = "About";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<div>
    <p>
        This website is the final project for the C# Programming<br />
        Certification program offered by University of Washington's<br />
        Department of Professional & Continuing Education,<br />
        as designed by Joshua Mueller.<br /><br />
        Thank you for taking the time to view my website.
    </p>
</div>