@{
    ViewBag.Title = "Contact Information";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<div>
    <p>We're available 24/7 to assist you.</p>
    <h2>Address</h2>
    <address>
        4060 George Washington Ln. N.E.<br />
        Seattle, WA 98195
    </address>
    <h2>Phone</h2>
    <address>
        <strong>Registration:</strong> (206) 555-1234<br />
        <strong>Financial Assistance:</strong> (206) 555-4321<br />
        <strong>Student Services:</strong> (206) 555-1212
    </address>
    <h2>Email</h2>
    <address>
        <strong>Advising:</strong> <a href="mailto:jmm45@uw.edu">advising@learningcenter.com</a><br />
        <strong>Registration:</strong> <a href="mailto:jmm45@uw.edu">registration@learningcenter.com</a><br />
        <strong>Finanacial Assistance:</strong> <a href="mailto:jmm45@uw.edu">financialassistance@learningcenter.com</a><br />
        <strong>Student Services:</strong> <a href="mailto:jmm45@uw.edu">studentservices@learningcenter.com</a>
    </address>
</div>
