@{
    ViewBag.Title = "Error";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<div>
    <p>A system error has been detected.<br />
        A notification has been sent to the development team.</p>
</div>